@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.navbar {
    justify-content: space-between;
    margin: 30px 100px;
    text-align: center;
    align-items: center;
}
.navbar , .nav-items{
    display: flex;
}

.nav-items{
    list-style: none;
    margin-right: 30px;
}